#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

#users{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}

.user{
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: red;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#chat{
    height: 400px;
    width: 230px;
    background-image: url("/images/smartphone.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    padding: 10px;
    position: relative;
}

#friend{
    position: absolute;
    top:45px;
    left:20px;
    font-weight: 900;
    font-family: sans-serif;
}

#sender{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
}

#sender>input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#msgs{
    overflow-y: scroll;
    position: absolute;
    top:80px;
    left:20px;
    height: 300px;
}